<h1> EDIT SONG FORM </h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" value="<%=@song.artist%>">
  <br>

  <label>Song Name:</label>
  <input type="text" name="Name" value="<%=@song.name%>">
  <br>


  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
    <input
    id="<%= genre.name %>"
    type="checkbox"
    name="genres[]"
    value="<%= genre.id %>"
    <%= 'checked' if @songs.genres.include?(genre)%>>
  <% end %>

  <input type="submit" value="Update">
</form>

<h1>Edit <%= @song.name %></h1>


  <label for="name">Name</label>
  <input type="text" name="song[name]" id="name" value="<%= @song.name %>">

  <label for="artist_name">Artist Name</label>
  <input type="text" name="artist[name]" value="<%= @song.artist.name %>" id="artist_name">

  <% Genre.all.each do |genre| %>
    <label><%= genre.name %></label>
    <input type="checkbox" name="genres[]" value="<%= genre.id %>" id="<%= genre.name %>" <%='checked' if @song.genres.include?(genre) %>>
  <% end %>

  <input type="submit" value="Save">
