<h1> EDIT SONG FORM </h1>

<form action="/songs/<%=@song.slug%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Artist Name:</label>
  <input type="text" name="Artist Name" value="<%=@song.artist%>">
  <br>

  <label>Song Name:</label>
  <input type="text" name="Name" value="<%=@song.name%>">
  <br>


  <label>Genres:</label>
  <% Genre.all.each do |genre| %>
  <label><%= genre.name %></label>
    <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>" <%= 'checked' if @songs.genres.include?(genre)%>>
  <% end %>

  <input type="submit" value="save">
</form>
